<div class="mb-4 d-flex justify-content-between align-items-center">
    <div>
        <a href="/" class="btn btn-link"><i class="bi bi-arrow-left"></i> Назад</a>
        <a href="/edit/<%= book.id %>" class="btn btn-light"><i class="bi bi-pencil"></i> Редактировать</a>
        <a href="/remove/<%= book.id %>" class="btn btn-light"><i class="bi bi-trash"></i> Удалить</a>
    </div>

    <span style="font-size: 14px"><i class="bi bi-eye"></i> <%= viewCount %></span>
</div>

<article class="mb-4">
    <div class="row">
        <div class="col-7">
            <h1 class="mb-2"><%= book.title %></h1>
            <p><%= book.authors %></p>
            <p class="lead"><%= book.description %></p>
        </div>

        <div class="col-4 offset-1">
            <% if(book.fileCover) { %>
                <p><img style="max-width: 100%;" src="<%= book.fileCover %>" alt=""></p>
            <% } %>
        </div>
    </div>
</article>

<div>
    <h5 class="mb-2">Обсуждения</h5>

    <form>
        <div class="input-group">
            <input type="text" name="message" class="form-control" placeholder="Текст комментария">
            <button class="btn btn-primary">Отправить</button>
        </div>
    </form>
</div>

<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>

<script>
    const bookId = location.pathname.split('/').pop();
    const socket = io('http://localhost:3004', {
        transports: ["websocket"],
        query: `roomName=book${bookId}`
    });

    socket.on('message-to-all', (msg) => {
        console.log(msg);
    });

    socket.on('message-to-room', (msg) => {
        console.log(msg);
    });

    socket.emit('message-to-all', 123);
</script>
