<div class="mb-4 d-flex justify-content-between align-items-center">
    <div>
        <a href="/" class="btn btn-link"><i class="bi bi-arrow-left"></i> Назад</a>
        <a href="/edit/<%= book.id %>" class="btn btn-light"><i class="bi bi-pencil"></i> Редактировать</a>
    </div>

    <% if(viewCount) { %>
        <span style="font-size: 14px"><i class="bi bi-eye"></i> <%= viewCount %></span>
    <% } %>
</div>

<article>
    <div class="row">
        <div class="col-7">
            <h1 class="mb-2"><%= book.title %></h1>
            <p><%= book.authors %></p>
            <p class="lead"><%= book.description %></p>
        </div>

        <div class="col-4 offset-1">
            <% if(book.fileCover) { %>
                <p><img style="max-width: 100%;" src="<%= book.fileCover %>" alt=""></p>
            <% } %>
        </div>
    </div>
</article>
